.loader{
    position: absolute;
    top: 50%;
    left: 50%;  
}

.loader__quart{
    border: 20px solid white;
    border-top: 20px solid lightgreen;
    border-bottom: 20px solid lightskyblue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

